body{background-color: gray}
h1{background-color: darkgreen; color: red; text-align: center}
h2{background-color: indigo; color: red; text-align: left}
h3{background-color: indigo; color: red; text-align: left}
