body{background-color: pink}
h1{color: black; text-align: center}
h2{color: gray; text-align: left}
h3{color: gray; text-align: left}
h4{color: gray; text-align: left}
h5{color: gray; text-align: left}
